.container {
  padding: 5px;
  overflow: hidden;
}

.barContainer {
  height: 100%;
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.bar {
  min-width: calc(5vh - 3.5px);
  /* the width is equal to 10% of the maximum height */
  background-color: darkgrey;
  margin: 0 2px;
}

.barActive {
  background-color: forestgreen;
}

.spacerBar {
  min-width: calc(50% - ((5vh - 3.5px) / 2) - 2px);
}
