.container {
  padding: var(--small-gap);
  overflow: hidden;
}

.barContainer {
  /* equal to 1/30 of container height */
  --scroll-height: calc(
    (var(--grid-container-height) - (var(--small-gap) * 2)) / 30
  );
  /* equal to ~10% of container height */
  --bar-min-width: calc(
    (
        var(--grid-container-height) - (var(--small-gap) * 2) -
          var(--scroll-height)
      ) / 10
  );

  height: 100%;
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.barContainer::-webkit-scrollbar {
  width: 0px;
  height: var(--scroll-height);
}

.barContainer::-webkit-scrollbar-track {
  background: var(--gray3);
}

.barContainer::-webkit-scrollbar-thumb {
  background-color: var(--blue3);
}

.bar {
  position: relative;
  height: 100%;
  min-width: calc(var(--bar-min-width) + var(--tiny-gap) * 2);
}

.barResistance {
  position: absolute;
  bottom: 0;
  min-width: var(--bar-min-width);
  background-color: var(--gray3);
  margin: 0 var(--tiny-gap);
}

.barRpm {
  position: absolute;
  bottom: 0;
  width: calc(var(--bar-min-width) / 3);
  margin: 0 calc((var(--bar-min-width) / 3) + var(--tiny-gap));
  background-color: var(--gold3);
}

.barActive .barResistance {
  background-color: var(--green3);
}

.barDone .barResistance {
  background-color: var(--blue3);
}

.spacerBar {
  min-width: calc(50% - (var(--bar-min-width) / 2) - var(--tiny-gap));
}
